@font-face {
  font-family: "goldman-regular";
  src: url("../fonts/Goldman-Regular.ttf");
}

body {
  background-color: #fff;
  font-family: "goldman-regular";
  color: #000;
}

a.navbar-brand img {
  width: 30px;
  background: #d4bb29;
  border-radius: 3px;
}

a.navbar-brand img:hover {
  background: #ebe0a4;
}

.header {
  background-color: #F3D94E;
  color: #000;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  border-bottom: 5px solid #000;
}

.header img {
  padding-top: 20px;
  max-height: 100px;
}

.header h1 {
  font-size: 1.6em;
  padding-top: 40px;
}

main {
  text-align: center;
}

.pregunta {
  background-color: #fdf9e2;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 40px 0px 50px 0px;
  max-width: 800px;
  text-align: center;
}

form {
  padding-top: 30px;
  padding-bottom: 20px;
}

form [type='submit'] {
  margin-top: 30px;
}

.btn {
  margin: 5px;
}

.btn-primary {
  background: #F3D94E;
  color: #000;
  border-color: #f3dd63;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #e7d155;
  color: #000;
  border-color: #d4bb29;
}

footer {
  padding: 20px;
  background: #343a40;
  color: #829ba1;
  border-top: 5px solid #f3d94e;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

audio {
  display: none;
}
